:root {
  --background-color: #f0f0f0; // Define the background color variable
  --text-color: #333; // Define the text color variable
  --table-header-color: #11edb6;
  --table-row-hover-color: #c7ede4;
}
